*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.container{
  border: 2px solid black;
  width:800px;
  padding: 20px;
}
.container-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:500px;
    padding: 5px;
}
.hidden{
    display: none;
}
#get-started{
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    justify-content: center;
}
.ready{
    font-size: larger;
    padding: 10px;
    background-color: #4CAF50;
    color: #000000;
    max-width: 75px;
}
.timer{
    font-size: larger;
    font-weight: bolder;
    border: 2px solid black;
    padding: 2px;
    margin: 20px;
    color: #120b0b;
}